@import "platform.css";

.fa {
  font-family: FontAwesome;
}

.container {
    width: 900;
    height: 900;
    background-color: #d28b9b;
}


.tile-back {
    background-color: #ecc3cd;
}

.tile-back-active {
    border-top-width: 2;
    border-left-width: 2;
    border-color: white;
}

.tile-back-border-left {
    border-left-width: 2;
    border-color: white;
}

.tile-back-border-top {
    border-top-width: 2;
    border-color: white;
}

.detail-back {
    background-color: white;
}

.tile-cover {
    background-color: #ecc3cd;
    opacity: 0.7;
}

.tile-cover-active {
    border-left-width: 2;
    border-top-width: 2;
    border-color: white;
}

.tile-cover-border-left {
    border-left-width: 2;
    border-color: white;
}

.tile-cover-border-top {
    border-top-width: 2;
    border-color: white;
}

.button-left {
    background-color:black;
    width: 150;
    height: 150;
}

.button-right {
    background-color:black;
    width: 150;
    height: 150;
}

.button-position {
    width: 50;
    height: 50;
    transform: rotate(-45);
}


