<AbsoluteLayout class="container">
    <Image class="top-bar" src="~/foodstore-top-bar.png"></Image>

    <GridLayout #thegrid class="thegrid" rows="150,150,150,150,150,150" columns="150,150,150,150,150,150">

        <!-- backgrounds and borders -->
        <Label class="tile-back" row="0" col="2"></Label>
        <Label class="tile-back-active" row="1" col="1"></Label>
        <Label class="tile-back" row="2" col="1"></Label>
        <Label class="tile-back" row="1" col="2"></Label>
        <Label class="tile-back-border-left" row="2" col="1"></Label>
        <Label class="tile-back-border-top" row="1" col="2"></Label>
        <Label class="tile-back" row="2" col="0"></Label>
        <Label class="detail-back" row="2" col="2" rowSpan="4" colSpan="4"></Label>

        <!-- row 0 start -->
        <tile mleft="down" mright="right" row="0" col="2" tileIndex="5"></tile>
        <tile mleft="left" mright="up" row="0" col="3" tileIndex="6"></tile>

        <!-- row 1 start -->
        <tile mleft="down" mright="right" row="1" col="1" tileIndex="3"></tile>
        <tile mleft="left" mright="up" row="1" col="2" tileIndex="4"></tile>

        <GridLayout class="button-right" row="1" col="3" (tap)="onRight(thegrid)" rows="50,50,50" columns="50,50,50">
            <GridLayout class="button-position" row="2" col="0" rows="*,*,*" columns="*,*,*">
                <Label class="fa" [text]="'fa-arrow-right' | fonticon" row="1" col="1" style="color:white;"></Label>
            </GridLayout>
        </GridLayout>

        <!-- row 2 start -->
        <tile mleft="down" mright="right" row="2" col="0" tileIndex="1"></tile>
        <tile mleft="left" mright="up" row="2" col="1" tileIndex="2"></tile>

        <!-- row 3 start -->
        <tile mleft="left" mright="up" row="3" col="0" tileIndex="0"></tile>
        <GridLayout class="button-left" row="3" col="1" (tap)="onLeft(thegrid)" rows="50,50,50" columns="50,50,50">
            <GridLayout class="button-position" row="0" col="2" rows="*,*,*" columns="*,*,*">
                <Label class="fa" [text]="'fa-arrow-left' | fonticon" row="1" col="1" style="color:white;"></Label>
            </GridLayout>
        </GridLayout>

        <!-- content start -->
        <detail detailIndex="3" mleft="down" mright="right" row="2" col="2" rowSpan="2" colSpan="2"></detail>
        <detail detailIndex="4" mleft="left" mright="" row="2" col="4" rowSpan="2" colSpan="2"></detail>
        <detail detailIndex="2" mleft="" mright="up" row="4" col="2" rowSpan="2" colSpan="2"></detail>

    </GridLayout>
</AbsoluteLayout>