.container {
    width: 900;
    height: 900;
    background-color: #d28b9b;
}


.thegrid {
    border-width: 2;
    border-color: red;
    /*background-color: #d28b9b;*/
    width: 900;
    height: 900;
    transform: rotate(45) scale(1);
    margin-top: 100;
    margin-left: -250;
}

.tile-back {
    background-color: #ecc3cd;
}

.tile-back-active {
    border-top-width: 3;
    border-left-width: 3;
    border-color: white;
}

.tile-back-border-left {
    border-left-width: 3;
    border-color: white;
}

.tile-back-border-top {
    border-top-width: 3;
    border-color: white;
}

.tile-cover {
    background-color: #ecc3cd;
    opacity: 0.7;
}

.tile-cover-active {
    border-left-width: 2;
    border-top-width: 2;
    border-color: white;
}

.tile-cover-border-left {
    border-left-width: 2;
    border-color: white;
}

.tile-cover-border-top {
    border-top-width: 2;
    border-color: white;
}

.button-left {
    background-color:black;;
    width: 150;
    height: 150;
}

.button-right {
    background-color:black;;
    width: 150;
    height: 150;
}


.content {
    background-color: white;
}

