.container {
    width: 900;
    height: 900;
    background-color: #d28b9b;
}


.thegrid {
    background-color: #d28b9b;
    width: 900;
    height: 900;
    transform: rotate(45) scale(1);
    margin-top: 100;
    margin-left: -250;
}

.tile-container {

    /*background-color: #ecc3cd;*/
}

.tile-container-active {

}

.tile-container-border-left {
  
}

.tile-container-border-top {
    
}

.tile-cover {
    /*background-color: #ecc3cd;
    opacity: 0.7;*/
}

.tile-cover-active {
    /*border-left-width: 2;
    border-top-width: 2;
    border-color: white;*/
}

.tile-cover-border-left {
    /*border-left-width: 2;
    border-color: white;*/
}

.tile-cover-border-top {
    /*border-top-width: 2;
    border-color: white;*/
}

.button-left {
    border-width: 1;
    border-color: green;
    background-color:black;;
    width: 150;
    height: 150;
}

.button-right {
    border-width: 1;
    border-color: green;
    background-color:black;;
    width: 150;
    height: 150;
}


.content {
    background-color: white;
}

