


.detail-container {
    background-color: white;
}

.content {
    margin-top: 0;
    margin-left: 0;
    transform: rotate(-45);
    width: 250;
    text-align: center;
}

.detail-stack {
    text-align: center;
}
.category {
    font-family: "Lora-Regular";
    color: black;
    font-size: 12;
    margin-bottom: 6;
}
.title {
    font-family: "Lora-Regular";
    color: black;
    font-size: 28;
    margin-bottom: 10;
}
.divider {
    width: 50;
    height: 5;
    background-color: #d28b9b;
    margin-bottom: 10;
}
.description {
    text-align: left;
    font-family: "Lora-Regular";
    font-size: 14;
    color: #666666;
}