<StackLayout>
    <StackLayout #navIcon1 id="nav-icon1" class="" (tap)="navIcon1Tap()">
        <Label class="nth-child1"></Label>
        <Label class="nth-child2"></Label>
        <Label class="nth-child3"></Label>
    </StackLayout>
    <StackLayout #navIcon2 id="nav-icon2" class="" (tap)="navIcon2Tap()">
        <Label class="nth-child1"></Label>
        <Label class="nth-child2"></Label>
        <Label class="nth-child3"></Label>
        <Label class="nth-child4"></Label>
        <Label class="nth-child5"></Label>
        <Label class="nth-child6"></Label>
    </StackLayout>
    <StackLayout #navIcon3 id="nav-icon3" class="" (tap)="navIcon3Tap()">
        <Label class="nth-child1"></Label>
        <Label class="nth-child2"></Label>
        <Label class="nth-child3"></Label>
        <Label class="nth-child4"></Label>
    </StackLayout>
    <StackLayout #navIcon4 id="nav-icon4" class="" (tap)="navIcon4Tap()">
        <Label class="nth-child1"></Label>
        <Label class="nth-child2"></Label>
        <Label class="nth-child3"></Label>
    </StackLayout>
</StackLayout>