<StackLayout>



    <Button class="btn btn-primary" text="Trigger class" (tap)="onTapClass()"></Button>
    <Button class="btn btn-primary" text="Trigger js keyframes" (tap)="onTapJs()"></Button>


    <StackLayout class="wrapper" orientation="horizontal"> 
        
        <Label class="lbl-a2" text=""></Label> 
        <Label class="lbl-a3" text=""></Label> 
        <Label class="lbl-a4" text=""></Label> 
        <Label class="lbl-a5" text=""></Label> 
        <Label class="lbl-a6" text=""></Label> 
        <Label class="lbl-a7" text=""></Label> 
        <Label class="lbl-a8" text=""></Label> 
        <Label class="lbl-a9" text=""></Label> 
        <Label class="lbl-a10" text=""></Label> 
        <Label class="lbl-a11" text=""></Label> 
        <Label class="lbl-a12" text=""></Label> 
        <Label class="lbl-a13" text=""></Label> 
        <Label class="lbl-a14" text=""></Label> 
        <Label class="lbl-a15" text=""></Label> 
        <Label class="lbl-a16" text=""></Label> 
        <Label class="lbl-a17" text=""></Label> 
        <Label class="lbl-a18" text=""></Label> 
        <Label class="lbl-a19" text=""></Label> 
        <Label class="lbl-a20" text=""></Label> 
        <Label class="lbl-a21" text=""></Label> 
        <Label class="lbl-a22" text=""></Label>
        <Label class="lbl-a23" text=""></Label> 
      </StackLayout>

</StackLayout>