<StackLayout>

    

    <StackLayout #myTextWrapper orientation="horizontal">
        <Label class="letter" text="H"></Label>
        <Label class="letter" text="e"></Label>
        <Label class="letter" text="l"></Label>
        <Label class="letter" text="l"></Label>
        <Label class="letter" text="o"></Label>

        <Label class="letter" text=" "></Label>

        <Label class="letter" text="W"></Label>
        <Label class="letter" text="o"></Label>
        <Label class="letter" text="r"></Label>
        <Label class="letter" text="l"></Label>
        <Label class="letter" text="d"></Label>

    </StackLayout>


    <Button class="btn btn-primary" text="Trigger class" (tap)="onTapClass()"></Button>
    <Button class="btn btn-primary" text="Trigger js keyframes" (tap)="onTapJs()"></Button>


    <Label class="pulse-letter" text="W"></Label>

</StackLayout>