<StackLayout>



    <Button class="btn btn-primary" text="Trigger class" (tap)="onTapClass()"></Button>
    <Button class="btn btn-primary" text="Trigger js keyframes" (tap)="onTapJs()"></Button>


    <StackLayout class="load-wrapp" orientation="horizontal"> 
        
        <StackLayout class="load-9"> 
            

                <Label text="Loading 9"></Label>

                 <AbsoluteLayout class="spinner"> 
               
                     <Label class="bubble-1"></Label>
                     <Label class="bubble-2"></Label>

                
                 </AbsoluteLayout>

        </StackLayout>
      </StackLayout>

</StackLayout>