.title {
    font-size: 18;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 18;
    horizontal-align: center;
}

.message {
    font-size: 18;
    color: #284848;
    horizontal-align: center;
}



.wrapper {
    border-color: #66ff0000;
    border-width: 5;
}



.btn-convert {
    background-color: #66444444;
    color: #ffffff;
    border-width: 1;
    border-color: #666666;
    font-size: 14;
    margin: 3;
    padding: 5;
}

.btn-delete {
    margin-top: 40;
    color: #ff0000;
}

.btn-modal-action {
    padding: 10;
}